<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Prueba Productos</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">


</head>
<body>

	<div class="container">

		<h1>Lista de Productos</h1>

		<a th:href="@{productos/create}" class="btn btn-secondary">Nuevo Producto</a>

		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Descripcion</th>
					<th scope="col">Precio</th>
					<th scope="col">Accion</th>
					<th scope="col">Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto:${productos}">
					<th scope="row" th:text=${producto.id}></th>
					<td th:text=${producto.nombre}>Mark</td>
					<td th:text=${producto.descripcion}>Otto</td>
					<td th:text=${producto.precio}>@mdo</td>
					<td><a th:href="@{/productos/edit/{id}(id=${producto.id})}" class="btn btn-danger">Editar</a></td>
					<td><a th:href="@{/productos/delete/{id}(id=${producto.id})}" class="btn btn-warning">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>









